.my_nav_bar {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}
.travel_mainDiv{
    border: 1px solid lightgray;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv h5 , .travel_mainDiv p
{
    margin: 20px;
}